# do not upload pcd_to_bag.cpp
src/pcd_to_bag.cpp
src/cm_translation_2d.cpp
script/
cmake-build-debug/
.idea/
data/rotation3d.bag
output/rotation3d/
output/translation2d/
**.png
**.bag

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
